@mixin sg-breakpoints {
  aside {
    @include show-title;
    @include block;
    margin-bottom: $lem;
    
    
    div {
      @include block;
      
      &.line {
        border-bottom: 1px solid;
        float: left;
      }
    }
    
    span {
      @include block;
      font-size: small;
    }
    
    &#breakpoints-x-axis {
      @include hide-title;
      
      span {
        &.line {
          display: inline-block;
          border-bottom: 1px solid;
          margin-right: -1%;
        }
      }
    }
  }
}