@mixin hacks {
  
  // Remove the extra space at the bottom of an image inside a link
  a img {
    display: block;
  }
}


// Float left a block element
@mixin block {
  width: 100%;
  float: left;
}